/* **********************************************************
 * add custom styles after imports below
 * ********************************************************** */

@import "default.css";
@import "layout.css";
@import "menu.css";
@import "queries.css";

/* **********************************************************
 * to import a font, use the @import option, you can find
 * lots of font options at fonts.google.com for example.
 * ********************************************************** */



 @import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Jersey+15+Charted&family=Karla:ital,wght@0,200..800;1,200..800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


html {
    font-family: 'Space Mono', sans-serif;

}


/* **********************************************************
 * Customizing
 *
 * changes to default settings like colors, typography,
 * spacing can be made in default.css
 *
 * other custom settings, start below
 *
 * ********************************************************** */

* {
    /* text-transform: uppercase; */
    line-height: 120%;
    font-weight: 400;
    color: rgb(47, 47, 47) !important;
}


body {
    /* font-family: 'Space Mono', sans-serif; */
    background-color: #ffffff !important;
    color: var(--color-fg) !important;
}

.background-image {
    position: fixed; /* or absolute, depending on your needs */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/images/sky-bitmap2.jpg'); /* Replace with your image URL */
    background-size: cover; /* or contain */
    opacity: 0.9; /* 10% opacity */
    z-index: -1; /* Make sure it stays behind other content */
}



@media (orientation: portrait) {
    * {
        font-size: 16px;
    }
}